.heading
{
    font-size: 2.5vmax;
    font-weight: bold;
    text-transform: uppercase;
}
.contact-left
{
    line-height: 70px;
}

.contact-phone
{
    color: black;
    text-decoration: none;
    font-weight: 600;
    display: block;
}
.contact-phone:hover
{
    color: #076e7c;
}
.contactMail
{
    display: block;
    color: black;
    font-weight: 600;
    text-decoration: none;
}
.contactMail:hover
{
    color: #076e7c;

}
.inputBox input
{
    height: 40px;
    width: 50%;
}
.contact-right button
{
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #076e7c;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
}
.contact-right button:hover
{
    border: 1px solid #076e7c;
    background-color: transparent;
    color: #076e7c;
}